@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: oklch(0.9796 0.0017 67.8026);
    --foreground: oklch(0.2734 0.0155 45.3275);
    --card: oklch(95.466% 0.00501 47.852 / 0.5);
    --card-foreground: oklch(0.2734 0.0155 45.3275);
    --popover: oklch(0.9796 0.0017 67.8026);
    --popover-foreground: oklch(0.2734 0.0155 45.3275);
    --primary: oklch(0.45 0.05 45);
    --primary-foreground: oklch(0.9796 0.0017 67.8026);
    --secondary: oklch(45.376% 0.04427 126.15);
    --secondary-foreground: oklch(0.9796 0.0017 67.8026);
    --muted: oklch(92.145% 0.0095 119.892);
    --muted-foreground: oklch(0.4215 0.0214 44.5399);
    --accent: oklch(0.6038 0.0968 41.9906);
    --accent-foreground: oklch(0.9796 0.0017 67.8026);
    --destructive: oklch(55.32% 0.16059 31.392);
    --destructive-foreground: oklch(0.9796 0.0017 67.8026);
    --border: oklch(0.7679 0.0248 44.2769);
    --input: oklch(0.9174 0.0087 44.8857);
    --ring: oklch(0.8566 0.0151 44.159);
    --chart-1: oklch(0.6969 0.0374 117.9351);
    --chart-2: oklch(0.6054 0.1071 46.0409);
    --chart-3: oklch(0.45 0.05 45);
    --chart-4: oklch(0.4538 0.0443 126.1089);
    --chart-5: oklch(0.4683 0.1115 43.9384);
    --sidebar: oklch(0.9174 0.0087 44.8857);
    --sidebar-foreground: oklch(0.2734 0.0155 45.3275);
    --sidebar-primary: oklch(0.2734 0.0155 45.3275);
    --sidebar-primary-foreground: oklch(0.9796 0.0017 67.8026);
    --sidebar-accent: oklch(0.9547 0.0051 48.6854);
    --sidebar-accent-foreground: oklch(0.2734 0.0155 45.3275);
    --sidebar-border: oklch(0.7679 0.0248 44.2769);
    --sidebar-ring: oklch(0.8566 0.0151 44.159);

    --font-sans:
        'Montserrat', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --radius: 0.5rem;
    --shadow-2xs: 1px 1px 7.5px 1.5px hsl(0 11.1111% 14.1176% / 0.07);
    --shadow-xs: 1px 1px 7.5px 1.5px hsl(0 11.1111% 14.1176% / 0.07);
    --shadow-sm: 1px 1px 7.5px 1.5px hsl(0 11.1111% 14.1176% / 0.15), 1px 1px 2px 0.5px hsl(0 11.1111% 14.1176% / 0.15);
    --shadow: 1px 1px 7.5px 1.5px hsl(0 11.1111% 14.1176% / 0.15), 1px 1px 2px 0.5px hsl(0 11.1111% 14.1176% / 0.15);
    --shadow-md: 1px 1px 7.5px 1.5px hsl(0 11.1111% 14.1176% / 0.15), 1px 2px 4px 0.5px hsl(0 11.1111% 14.1176% / 0.15);
    --shadow-lg: 1px 1px 7.5px 1.5px hsl(0 11.1111% 14.1176% / 0.15), 1px 4px 6px 0.5px hsl(0 11.1111% 14.1176% / 0.15);
    --shadow-xl: 1px 1px 7.5px 1.5px hsl(0 11.1111% 14.1176% / 0.15), 1px 8px 10px 0.5px hsl(0 11.1111% 14.1176% / 0.15);
    --shadow-2xl: 1px 1px 7.5px 1.5px hsl(0 11.1111% 14.1176% / 0.38);
    --tracking-normal: 0em;
    --spacing: 0.25rem;

    --font-work-sans: 'Work Sans', sans-serif;
    --font-open-sans: 'Open Sans', serif;
    --font-fascinate: 'Fascinate', cursive;

    --shadow-color: #282020;
    --shadow-opacity: 0.15;
    --shadow-blur: 7.5px;
    --shadow-spread: 1.5px;
    --shadow-offset-x: 1px;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
}

.dark {
    --background: oklch(0.3308 0.0192 28.3422);
    --foreground: oklch(0.9671 0.0041 91.4465);
    --card: oklch(0.3981 0.0274 31.9892 / 0.2);
    --card-foreground: oklch(0.9671 0.0041 91.4465);
    --popover: oklch(0.3308 0.0192 28.3422);
    --popover-foreground: oklch(0.9671 0.0041 91.4465);
    --primary: oklch(0.9671 0.0041 91.4465);
    --primary-foreground: oklch(0.45 0.05 45);
    --secondary: oklch(0.6969 0.0374 117.9351);
    --secondary-foreground: oklch(0.2521 0.0173 24.3837);
    --muted: oklch(0.2521 0.0173 24.3837);
    --muted-foreground: oklch(0.9671 0.0041 91.4465);
    --accent: oklch(0.6054 0.1071 46.0409);
    --accent-foreground: oklch(0.9671 0.0041 91.4465);
    --destructive: oklch(45.35% 0.15804 30.282);
    --destructive-foreground: oklch(0.9671 0.0041 91.4465);
    --border: oklch(0.5836 0.0402 58.735);
    --input: oklch(0.4399 0.0307 39.2459);
    --ring: oklch(0.5151 0.036 51.0716);
    --chart-1: oklch(0.6969 0.0374 117.9351);
    --chart-2: oklch(0.6054 0.1071 46.0409);
    --chart-3: oklch(0.45 0.05 45);
    --chart-4: oklch(0.4538 0.0443 126.1089);
    --chart-5: oklch(0.4683 0.1115 43.9384);
    --sidebar: oklch(0.2521 0.0173 24.3837);
    --sidebar-foreground: oklch(0.9671 0.0041 91.4465);
    --sidebar-primary: oklch(0.9671 0.0041 91.4465);
    --sidebar-primary-foreground: oklch(0.2521 0.0173 24.3837);
    --sidebar-accent: oklch(0.3308 0.0192 28.3422);
    --sidebar-accent-foreground: oklch(0.9671 0.0041 91.4465);
    --sidebar-border: oklch(0.5836 0.0402 58.735);
    --sidebar-ring: oklch(0.5151 0.036 51.0716);
    --radius: 0.5rem;
    --font-sans:
        'Montserrat', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.15;
    --shadow-blur: 7.5px;
    --shadow-spread: 1.5px;
    --shadow-offset-x: 1px;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 1px 1px 7.5px 1.5px hsl(0 0% 0% / 0.07);
    --shadow-xs: 1px 1px 7.5px 1.5px hsl(0 0% 0% / 0.07);
    --shadow-sm: 1px 1px 7.5px 1.5px hsl(0 0% 0% / 0.15), 1px 1px 2px 0.5px hsl(0 0% 0% / 0.15);
    --shadow: 1px 1px 7.5px 1.5px hsl(0 0% 0% / 0.15), 1px 1px 2px 0.5px hsl(0 0% 0% / 0.15);
    --shadow-md: 1px 1px 7.5px 1.5px hsl(0 0% 0% / 0.15), 1px 2px 4px 0.5px hsl(0 0% 0% / 0.15);
    --shadow-lg: 1px 1px 7.5px 1.5px hsl(0 0% 0% / 0.15), 1px 4px 6px 0.5px hsl(0 0% 0% / 0.15);
    --shadow-xl: 1px 1px 7.5px 1.5px hsl(0 0% 0% / 0.15), 1px 8px 10px 0.5px hsl(0 0% 0% / 0.15);
    --shadow-2xl: 1px 1px 7.5px 1.5px hsl(0 0% 0% / 0.38);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans:
        'Montserrat', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-fascinate: var(--font-fascinate);
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }

    html {
        scroll-behavior: smooth;
    }

    .logo {
        height: 6em;
        padding: 1.5em;
        will-change: filter;
        transition: filter 300ms;
    }
    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }
    .logo.react:hover {
        filter: drop-shadow(0 0 2em #61dafbaa);
    }

    @keyframes logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        a:nth-of-type(2) .logo {
            animation: logo-spin infinite 20s linear;
        }
    }

    .card {
        padding: 2em;
    }

    .read-the-docs {
        color: #888;
    }
}
